.footer{
    display: flex;
    align-items: center;
    margin: -7rem -3.5rem -0.5rem -3.5rem;
    position: relative;
}

.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 8rem;
    gap: 2rem;
    color: white;
}

.f-icons{
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 480px) {
    .f-content{
        transform: scale(0.7);
        margin-top: 3rem;
    }
    .f-icons{
        margin-top: -1rem;
    }
}